<%- contentFor( 'body') %>

<main id="main-acao">
<h2>Atualize as ações aqui!</h2>
            <div id='bloco-acao'>
                <h4>Cadastro de dados de nova ação</h4>
                <hr>
                <form id="form-acao" action="">
                    Em qual regional o evento foi realizado?
                    <input class="input-acao" type="text">
                    Número de voluntários
                    <input class="input-acao" type="text">
                    Instituição beneficiada
                    <input class="input-acao" type="text">
                    Inserir ou atualizar foto ou vídeo
                    <input class="img-acao" type="file">
                </form>
            </div>

        </main>