<header>            
    <!--Header-->
        
        <div id="header-espaco"></div>
        <!--Logo JPD-->
        <div id="logo">
            <a href="/">
                <img id="simbolo" src="img/logor.png" alt="logo">
            </a> 
           
            <a href="/">
                <span id="logotipo">JPD</span>
                
            </a> 
        
            
        </div>
        <!--Fim de Logo JPD-->
        
        <!--Botão Login-->
        <span id="login"><a href="/login"><img id="icone-login" src="img/icones/volunteer.png" alt=""></a></span>

        <!--Área de Navegação-->
        <nav>          
            <span class="nav-link" onclick="pageScroll(0)">Início</span>
            <span class="nav-link" onclick="pageScroll(1000)">Sobre</span>
            <span class="nav-link" onclick="pageScroll(2000)">Ações</span>
            <span class="nav-link" onclick="pageScroll(3000)">Time</span>
            <span class="nav-link" onclick="pageScroll(4000)"><strong>Ajude</strong></span>         
        </nav>

    <!--Fim de Header-->

</header>