<header>            
    <!--Header-->
        
        <!-- <div id="header-espaco"></div> -->
        <!--Logo JPD-->
        <div id="logo">
            <a href="/">
                <img id="simbolo" src="img/blobs/logo branco.png" alt="logo">
            </a> 
           
            <a href="/">
                <span id="logotipo">JPD</span>
                
            </a> 
        
            
        </div>
        <!--Fim de Logo JPD-->
        
        <!--Botão Login-->
        <span id="login"><a href="/login"><img id="icone-login" src="img/blobs/volunteer p.png" alt=""></a></span>

        <!--Área de Navegação-->
        <nav>          
            <span class="nav-link" onclick="pageScroll(0)">Início</span>
            <span class="nav-link" onclick="pageScroll(1200)">Sobre</span>
            <span class="nav-link" onclick="pageScroll(2550)">Ações</span>
            <span class="nav-link" onclick="pageScroll(3600)">Time</span>
            <span class="nav-link" onclick="pageScroll(4600)"><strong>Ajude</strong></span>         
        </nav>

    <!--Fim de Header-->

</header>