<%- contentFor( 'body') %>

<main>
         
    <!--Início-->
    <div id="inicio">
        <!--Fotos Início-->
        <img id="foto-inicio" src="img/foto_inicio.png" alt="foto da ong">
        <!--Caixa de Texto Início-->
        <div id="inicio-text-box" > <p id="inicio-text">I tried so hard and got so far
            But in the end, it doesn't even matter
            </p> 
        </div>
        <!--Botões de Início-->
        <img class="carrosel-inicio" src="img/icones/proximo.png" alt="">
        <img style="transform: scaleX(-1);left:26px;" class="carrosel-inicio" src="img/icones/proximo.png" alt="">
        <div id="links-inicio">
            <a href=""><img class="link-inicio" src="img/icones/facebook.png" alt=""></a> 
            <a href=""><img class="link-inicio" src="img/icones/instagram.png" alt=""></a>
        </div>
        <!--Fim de Botões de Início-->
        

    </div>
    <!--Fim de Início-->
    

    <!--Sobre-->
    <div id="sobre">
        <div id="nossa-historia">
            <img id="foto-sobre" src="img/fotos/foto-sobre.png" alt="">
            <h2>Nossa História</h2>
            <br>
            <hr >
            <br>
            <p>Não tinha medo o tal João de Santo Cristo
                Era o que todos diziam quando ele se perdeu Deixou pra trás todo o marasmo da fazenda
                Só pra sentir no seu sangue o ódio que Jesus lhe deu
                Quando criança só pensava em ser bandido
                Ainda mais quando com um tiro de soldado o pai morreu
                Era o terror da sertania onde morava
                E na escola até o professor com ele aprendeu
                Ia pra igreja só pra roubar o dinheiro
                Que as velhinhas colocavam na caixinha do altar
                Sentia mesmo que era mesmo diferente
                Sentia que aquilo ali não era o seu lugar
                Ele queria sair para ver o mar
                E as coisas que ele via na televisão
                .
            </p>
        </div>

        <div id="dados-sobre">
            <div class="dado-ong">
                <div>
                    <h1>5,2K</h1>
                    Vidas Impactadas
                </div>
            </div>

            <div class="dado-ong">
                <div>
                    <h1>137</h1>
                    Voluntários
                </div>
            </div>

            <div class="dado-ong">
                <div>
                    <h1>87</h1>
                    Instituições Beneficiadas
                </div>
            </div>
        </div>
    </div>
    <!--Fim de Sobre-->


    <!--Mapa-->
    <div id="mapa">
        <h1>Veja a diferença que fazemos</h1>
        <h5>Clique no região que você deseja para ver os benefícios gerados pela Ong</h5>
        <div id="mapa-sec">
            <div id=lateral-esquerda>
                <img id="mapa-img" width=600 src="img/mapa.png" alt="">
                <button type="button" class="bot-mapa" id="reg-1" onclick="getRegionalInfo('/regional', '1')">Regional 1</button>
                <button type="button" class="bot-mapa" id="reg-2" onclick="getRegionalInfo('/regional', '2')">Regional 2</button>
                <button type="button" class="bot-mapa" id="reg-3" onclick="getRegionalInfo('/regional', '3')">Regional 3</button>
                <button type="button" class="bot-mapa" id="reg-4" onclick="getRegionalInfo('/regional', '4')">Regional 4</button>
                <button type="button" class="bot-mapa" id="reg-5" onclick="getRegionalInfo('/regional', '5')">Regional 5</button>
                <button type="button" class="bot-mapa" id="reg-6" onclick="getRegionalInfo('/regional', '6')">Regional 6</button>
                <button type="button" class="bot-mapa" id="reg-7" onclick="getRegionalInfo('/regional', '7')">Regional 7</button>
                <button type="button" class="bot-mapa" id="reg-8" onclick="getRegionalInfo('/regional', '8')">Regional 8</button>
                <button type="button" class="bot-mapa" id="reg-9" onclick="getRegionalInfo('/regional', '9')">Regional 9</button>
                <button type="button" class="bot-mapa" id="reg-10" onclick="getRegionalInfo('/regional', '10')">Regional 10</button>
                <button type="button" class="bot-mapa" id="reg-11" onclick="getRegionalInfo('/regional', '11')">Regional 11</button>
                <button type="button" class="bot-mapa" id="reg-12" onclick="getRegionalInfo('/regional', '12')">Regional 12</button>
            </div>

            <div id="lateral-direita">
                <div>
                    <h3>
                        Regional
                    </h3>
                    <img id="img-regional" src="img/bagulho.png" alt="">
                    <p>
                        Teste do bagulho
                    </p>
                </div>    
            </div>
        </div>
    </div>
    <!--Fim de Mapa-->
    

    <!--Time-->
    <div id="time-sec">
        <div id="time-direcao">
            <h2>Direção</h2>
            <br><br>
            <hr>
            <br><br>
            <div class="time" style="width: 1300px;">
                <img style="transform: scaleX(-1); top:110px; left:-163px;" class="time-proximo" src="img/icones/proximo.png" alt="">
                <span>
                    <div>
                        <img class="foto-dir" src="img/fotos/direcao-1.png" alt="">
                        <div class="foto-dir-desc">
                            <div>
                                <strong>Nome</strong>
                                <br> 
                                Cargo 
                            </div>
                        </div>
                    </div>
                </span>
                <span>
                    <div>
                        <img class="foto-dir" src="img/fotos/direcao-1.png" alt="">
                        <div class="foto-dir-desc">
                            <div>
                                <strong>Nome</strong>
                                <br> 
                                Cargo 
                            </div>
                        </div>
                    </div>
                </span>
                <span>
                    <div>
                        <img class="foto-dir" src="img/fotos/direcao-1.png" alt="">
                        <div class="foto-dir-desc">
                            <div>
                                <strong>Nome</strong>
                                <br> 
                                Cargo 
                            </div>
                        </div>
                    </div>
                </span>
                <span>
                    <div>
                        <img class="foto-dir" src="img/fotos/direcao-1.png" alt="">
                        <div class="foto-dir-desc">
                            <div>
                                <strong>Nome</strong>
                                <br> 
                                Cargo 
                            </div>
                        </div>
                    </div>
                </span>
                <img style="top:110px; right:-163px;" class="time-proximo" src="img/icones/proximo.png" alt="">
            </div>
            
        </div>

        <div id="time-voluntarios">
            <h3>Voluntários Fixos</h3>
            <br><br>
            <hr>
            <br><br>
            <div class="time" style="width: 1150px;">
                <img  style="transform: scaleX(-1); top:32px; left:-238px;" class="time-proximo" src="img/icones/proximo.png" alt="">
                <span><img class="foto-vol" src="img/fotos/direcao-4.png" alt=""></span>
                <span><img class="foto-vol" src="img/fotos/direcao-4.png" alt=""></span>
                <span><img class="foto-vol" src="img/fotos/direcao-4.png" alt=""></span>
                <span><img class="foto-vol" src="img/fotos/direcao-4.png" alt=""></span>
                <span><img class="foto-vol" src="img/fotos/direcao-4.png" alt=""></span>
                <img  style="top:32px; right:-238px;" class="time-proximo" src="img/icones/proximo.png" alt="">
            </div>
            
        </div>
        

    </div>
    <!--Fim de Time-->


    <!--Ajude-->
    <div id="ajude-sec">
        <h2>Ajude</h2>
        <br>
        <br>
        <hr>
        <div id="planos">
            <div class="plano">
                <h3>Bronze</h3>
                <img src="img/Medalha Bronze.png" alt="">
                <h5>R$ 100,00</h5>
                <p>Destaque do Instagram: A empresa terá logomarca em destaque de parceiros no nosso Instagram </p>
                <a href="https://www.google.com"><h4>Doe</h4></a>
            </div>

            <div class="plano">
                <h3>Prata</h3>
                <img src="img/Medalha Prata.png" alt="">
                <h5>R$ 150,00</h5>
                <p>Todas as recompensas dos planos anteriores <br><br>
                    Agradecimento e divulgação nos eventos anuais: A empresa terá logomarca divulgada nos agradecimentos do Instagram e também nos eventos presenciais da ONG.  </p>
                    <a href="https://www.google.com"><h4>Doe</h4></a>
            </div>

            <div class="plano">
                <h3>Ouro</h3>
                <img src="img/Medalha Ouro.png" alt="">
                <h5>R$ 200,00</h5>
                <p> Todas as recompensas dos planos anteriores <br><br>
                    Publicação quinzenal <br> <br>
                    Logo da empresa nas batas, blusas e site. <br> <br>
                    Fotos e botons da ONG. <br><br>
                    Ação conjunta com a empresa: Empresa pode solicitar voluntários para uma ação.  </p>
                    <a href="https://www.google.com"><h4>Doe</h4></a>
            </div>
        </div>
    </div>
    <!--Fim de Ajude-->

    <div style="margin: 0px 50%;">
        <a href="/confirma_acao"><button>Confirme sua doação!</button></a>
    </div>

</main>