<%- contentFor( 'body')%>
<script>
    if(localStorage.getItem("user")){
        window.location.href = "/cadastro_acao";
    }
</script>
<main>
<div id="login-sec">
    <% let linkLogin ="/cadastro/login"; %>
    <h3>Bem vindo, Administrador!</h3>
    <br>
    <br>
    <br>
    <br>

        <form name="fLogin" id="formLogin">
            <input class="input-logar" type="text" name="email" placeholder="E-mail">
            <br>
            <br>
            <input class="input-logar" type="password" name="senha" placeholder="Senha">
            <br>
            <br>
            <input type="button" value = "Entrar" id="login-botao" onclick="loginVoluntario(document.fLogin,'<%=linkLogin%>')" class = "btn">
        </form>
    
</div>
</main>