<%- contentFor( 'body') %>

<main>
<div id="login-sec">
    <h3>Bem vindo, Administrador!</h3>
    <br>
    <br>
    <hr>

        <form id="form-login" action="/cadastro_acao">
            <input class="input-logar" type="text" name="login" placeholder="Login">
            <br>
            <br>
            <input class="input-logar" type="password" name="senha" placeholder="Senha">
            <br>
            <br>
            <button id="login-botao">
                Acessar
            </button>
        </form>
    
</div>
</main>