:root {
}

/* Estilo Corpo */

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Quicksand", roboto, sans-serif;
  background: #eaeaea;
}

/* Estilo Header */
header {
  position: fixed;
  top: 0;
  background-color: #c0d6df;
  height: 90px;
  width: 100%;
}

#logo {
  display: inline-flex;
  align-items: center;
  width: 645px;
  height: 90px;
}
#simbolo {
  margin-left: 75px;
  height: 85px;
}

#logotipo {
  margin-left: 38px;
  color: #0b77a3;
  font-size: 40px;
  font-weight: bold;
}

/* Estilo Navegação */

nav {
  align-items: center;
  display: inline-flex;
  float: right;
  width: 750px;
  height: 90px;
  text-align: center;
}

.nav-link {
  flex: auto;
  font-size: 40px;
  color: #0b77a3;
  text-decoration: none;
}

#login {
  display: inline-flex;
  height: 100%;
  align-items: center;
  margin-left: 50px;
  margin-right: 42px;
  float: right;
}
#icone-login {
  display: inline-flex;
  width: 62px;
  align-items: center;
}

/*Estilo Principal*/
main {
  margin-top: 90px;
}

/* Estilo Topo */
